<component name="ArtifactManager">
  <artifact type="exploded-war" name="Mybatis_Project1:war exploded">
    <output-path>$PROJECT_DIR$/../MyBatisPlus/MyBatis-Plus/Mybatis_Project1/target/Mybatis_Project1-1.0-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>Mybatis_Project1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Mybatis_Project1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/../MyBatisPlus/MyBatis-Plus/Mybatis_Project1/target/Mybatis_Project1-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Mybatis_Project1/web/Web" />
    </root>
  </artifact>
</component>