<component name="ArtifactManager">
  <artifact type="war" name="spring_11_annotation_bean:war">
    <output-path>$PROJECT_DIR$/../spring_11_annotation_bean/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_11_annotation_bean</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_11_annotation_bean-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_11_annotation_bean:war exploded" />
    </root>
  </artifact>
</component>