<component name="ArtifactManager">
  <artifact type="war" name="springmvc_05_response_:war">
    <output-path>$PROJECT_DIR$/../SpringMVC/springmvc_05_response_/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_05_response_</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_05_response_-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_05_response_:war exploded" />
    </root>
  </artifact>
</component>