<component name="ArtifactManager">
  <artifact type="war" name="spring_20_aop_advice_type:war">
    <output-path>$PROJECT_DIR$/../Spring/spring_20_aop_advice_type/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_20_aop_advice_type</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_20_aop_advice_type-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_20_aop_advice_type:war exploded" />
    </root>
  </artifact>
</component>